
body {
   background-color:#EAF6F6;
}

hr {
  border-color: #bbbbbb;
  border-style: none;
  border-top-style: dashed;
  border-width: 5px;
  width: 7%;
}

img {
  height: 280px;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
