
body {
   background-color:#d0e8f2;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dashed;
  border-width: 5px;
  width: 7%;
}

img {
  height: 280px;
}

h1 {
  color: #34626c;
}

h3 {
  color: #34626c;
}
